
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="tab in $ctrl.tabs" label="{{tab.tabName}}">
        <md-content class="md-padding">
          <h1 class="md-display-2 title">{{tab.tabName}}</h1>
            <div ng-if="tab.tabName === 'Info'">
              <patient-info-component patient="$ctrl.patient"></patient-info-component>
            </div>
            <div ng-if="tab.tabName === 'Meds'">
              <meds-component></meds-component>
            </div>
            <div ng-if="tab.tabName === 'Problems'">
              <problems-component></problems-component>
            </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


