<md-toolbar>
    <div class="md-toolbar-tools header-wrapper">
        <span class="app-name">Patient Medical Card</span>
        <md-button class="md-raised md-primary" ng-click="$ctrl.logOut()">
            Log Out
        </md-button>
        <span class="user-name">{{$ctrl.userNameText}}
            <span>{{$ctrl.userName}}</span>
        </span>
    </div>
</md-toolbar>