 
<div class="patient-container" layout="row" layout-xs="column">
  <div flex="20" class="sidebar-container">
    <add-patient-component
      patient="$ctrl.newPatient"
      on-create-patient="$ctrl.createPatient($event)">
    </add-patient-component>
    <search-component 
      patients="$ctrl.patients" 
      on-change-filter="$ctrl.changeFilter(res)">
    </search-component>
    <show-patients-list-component 
      patients="$ctrl.filteredPatients" 
      on-select-patient="$ctrl.selectPatient(index)">
    </show-patients-list-component>
    <div class="message" 
      ng-click="$ctrl.hideMessage()">
      {{$ctrl.message}}
    </div>
  </div>
  <div flex="80">
    <tabs-component 
      patient="$ctrl.selectedPatient">
    </tabs-component>
  </div>
</div>
