<md-button id="form-button" class="md-primary md-raised button-add-patient" 
  ng-click="$ctrl.showForm($event)">
  ADD PATIENT
</md-button>
<div class="form-wrapper">
   <div class="md-dialog-container" id="formDialog">
     <md-dialog>
       <div layout="column" class="md-inline-form form">
         <h2 class="form-title">Register new patient</h2>
           <md-content layout-padding class="form-content">
             <form name="userForm" 
               ng-submit="$ctrl.onSubmit();">
               <div layout-gt-sm="row">
                 <md-input-container>
                   <label>Patient</label>
                     <input ng-model="$ctrl.patient.title" disabled>
                 </md-input-container>
                 <md-input-container>
                   <label>Email</label>
                   <input ng-model="$ctrl.patient.email" type="email" required>
                 </md-input-container>
               </div>
               <div layout-gt-sm="row">
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>First name</label>
                     <input ng-model="$ctrl.patient.firstName" required>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Last Name</label>
                     <input ng-model="$ctrl.patient.lastName" required>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Sex</label>
                     <md-select ng-model="$ctrl.patient.sex">
                       <md-option ng-repeat="sex in $ctrl.sexes" 
                         value="{{sex.abbrev}}" required>
                         {{sex.abbrev}}
                       </md-option>
                     </md-select>
                 </md-input-container>
                 <md-input-container>
                   <label>Date of birth</label>
                   <md-datepicker ng-model="$ctrl.patient.birthData"
                     md-max-date="$ctrl.maxDate">
                   </md-datepicker>
                 </md-input-container>
                 <md-input-container>
                   <label>Date of death</label>
                   <md-datepicker ng-model="$ctrl.patient.deathData" 
                     md-min-date="$ctrl.minDate" 
                     md-max-date="$ctrl.maxDate">
                   </md-datepicker>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex-gt-xs>
                   <label>Business</label>
                     <input ng-model="$ctrl.patient.business">
                 </md-input-container>
               </div>
               <div layout-gt-sm="row">
                 <h4>Adress:</h4>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>City</label>
                   <input ng-model="$ctrl.patient.city">
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>State</label>
                     <md-select ng-model="$ctrl.patient.state">
                       <md-option ng-repeat="state in $ctrl.states" 
                         value="{{state.abbrev}}">
                         {{state.abbrev}}
                       </md-option>
                     </md-select>
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Street</label>
                     <input ng-model="$ctrl.patient.street">
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>House</label>
                     <input ng-model="$ctrl.patient.house">
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Zip</label>
                   <input name="postalCode" 
                     ng-model="$ctrl.patient.zip" 
                     placeholder="12345"
                     ng-pattern="/^[0-9]{5}$/" 
                     md-maxlength="5">
                   <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                     <div ng-message="required" class="my-message">
                       You must supply a postal code.
                     </div>
                     <div ng-message="pattern" class="my-message">
                       That doesn't look like a valid postal code.
                     </div>
                   </div>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Phone Number</label>
                   <input name="phone" 
                     ng-model="$ctrl.patient.phone">
                 </md-input-container>
                 <md-input-container class="md-block" flex-gt-sm>
                   <label>Work Phone Number</label>
                   <input name="phone" 
                     ng-model="$ctrl.patient.workPhone">
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container>
                   <label>Enter date</label>
                     <md-datepicker ng-model="$ctrl.patient.submissionDate" 
                       md-min-date="$ctrl.minDate" 
                       md-max-date="$ctrl.maxDate">
                     </md-datepicker>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <md-input-container class="md-block">
                   <label>Comments</label>
                   <textarea ng-model="$ctrl.patient.comments" 
                     md-maxlength="150" 
                     rows="5" md-select-on-focus>
                   </textarea>
                 </md-input-container>
               </div>
               <div layout-gt-xs="row">
                 <div class="button">
                   <md-button type="submit">
                     Submit
                   </md-button>  
                 </div>
                 <div class="button">
                   <md-button class="md-raised md-primary" 
                     ng-click="$ctrl.toggleForm(true)">
                     Cancel
                   </md-button>
                 </div>
               </div>
             </form> 
           </md-content>
    </md-dialog>
  </div>   
</div>

