$position-relative: 40px;
$background-widglabel-color: #f4f5f7;
$margin-top-standard-div: 2px;
$margin-left-standard-div: 5px;
.standard {
    position: relative;
    max-width: 350px;
    overflow: hidden;
    legend {
        text-align: center;
    }
}

.cancel {
    display: inline;
    position: relative;
    left: 110px;
}

.ok {
    display: inline;
    position: relative;
    left: 20px;
}

.standard-div {
    display: block;
    min-width: 320px;
    background-color: $background-widglabel-color;
    margin-top: $margin-top-standard-div;
    margin-left: $margin-left-standard-div;
    position: relative;
    label {
        display: block;
        min-width: 100%;
        background-color: $background-widglabel-color;
        margin-top: $margin-top-standard-div;
        margin-left: $margin-left-standard-div;
        position: relative;
    }
}

.standard-div label span {
    margin-left: 20px;
    margin-right: 150px;
    width: 150px;
}

.dialog-choose-widgets-wrapper {
    flex: 100;
    visibility: hidden;
}