<div class="widget-tables">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ $ctrl.widgetName }}</span>
        <span class="md-subhead">Latest prescription</span>
      </md-card-title-text>
    </md-card-title>
    <div ui-grid="$ctrl.gridOptions" ui-grid-edit ui-grid-cellnav class="grid"></div>
    <md-card-actions layout="row" layout-align="center center">
      <md-button type="button" id="watchLatest" class="md-raised md-primary" ng-click="$ctrl.previousLatest()">{{ $ctrl.namebtn }}</md-button>
    </md-card-actions>
  </md-card>
</div>